@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* 声明全局变量 */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  /* 把边框也算入宽度和高度 */
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  /* 无衬线字体，即笔画结尾是平滑的字体。 */
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  /* 在主轴中间显示 */
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  /* 横向均匀排布起来 */
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* 代表线的样式 */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 2s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  /* 让它变成一个圆 */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  /* 设置动画 */
  transition: 5s ease;
}

/* 激活圆点 */
.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  /* 设置光标样式 */
  cursor: not-allowed;
}
