@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  /* 让字体区中  */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('../img/image.avif') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  /* 让字体能够看到呈现在背景图上 */
  z-index: -1;
  /* 毛玻璃效果 */
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
