@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #686de0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
}

.container h3 {
  /* text-align: center; */
  opacity: 0.5;
  font-size: 18px;
}

.joke {
  margin-bottom: 30px;
  font-size: 30px;
  margin: 50px auto;
}

.btn {
  cursor: pointer;
  color: #fffffd;
  background-color: #9f68e0;
  border: 0;
  border-radius: 10px;
  padding: 14px 40px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%), 0 6px 6px rgb(0 0 0 / 10%);
}

.btn:focus {
  outline: 0;
}
